In [1]:
#creating empty tuple

In [2]:
t = ()
type(t)

tuple

In [3]:
t1 = tuple()
type(t1)

tuple

In [4]:
t3 = (2)
type(t3)

int

In [5]:
t3 = (2,)
type(t3)

tuple

In [8]:
t3 = tuple("Fazal")
print(t3)

('F', 'a', 'z', 'a', 'l')

In [9]:
t = ([1,2,3], [4,5,6])
print(len(t))
print(type(t))

2
<class 'tuple'>

In [13]:
lst = list(t)
print (type(lst))
print (type(t))

<class 'list'>
<class 'tuple'>

In [14]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [15]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)